#cards {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#cards .card-item {
  background-color: rgba(6, 30, 93, 0.5);
  border-top: 2px solid rgba(1, 153, 209, 0.5);
  width: 19%;
  display: flex;
  flex-direction: column;
}
#cards .card-header {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
#cards .card-header .card-header-left {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}
#cards .card-header .card-header-right {
  padding-right: 20px;
  font-size: 40px;
  color: #03d3ec;
}
#cards .ring-charts {
  height: 55%;
}
#cards .card-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#cards .card-footer-item {
  padding: 5px 10px 0px 10px;
  box-sizing: border-box;
  width: 45%;
  background-color: rgba(6, 30, 93, 0.7);
  border-radius: 3px;
}
#cards .card-footer-item .footer-title {
  font-size: 15px;
  margin-bottom: 5px;
  width: 200px;
}
#cards .card-footer-item .footer-detail {
  font-size: 20px;
  color: #1294fb;
  display: flex;
  font-size: 18px;
  align-items: center;
}
#cards .card-footer-item .footer-detail .dv-digital-flop {
  margin-right: 5px;
}
